
{{extend 'layout.html'}}
<!DOCTYPE html>
<html>

  <link rel="stylesheet" href="{{=URL('static','css/about.css')}}">
  <!--
  <img class="header" src="../static/images/group.JPG"/>
  -->
  <h1>QuickMeet Team</h1>
  
  <div class="table">
    <div class="cell">
      <img class="picture" src="../static/images/dylan.JPG"/>
      <h4>Dylan Gallup</h4>
      <h5>Project Organizer</h5>
      <p>As the QuickMeet project organizer, Dylan provided the idea,
      the design, frontend development, and most importantly, the expo
      markers. Dylan is a 4th year UCSC computer science student who loves
      animation, DnD, and long walks on the beach. Sorry ladies, he's taken.</p>
    </div>
    <div class="cell">
      <img class="picture" src="../static/images/isaac.JPG"/>
      <h4>Isaac Mancini</h4>
      <h5>Scrum Master</h5>
      <p>"Scrummy 'Zac" made sure that the group communicated when it came to the project.
      His special skills include documenting, leading, and zazzing up the group.
      He's an olympic cyclist with 3 gold medals in his spare time, and he's a full
      time 4th year computer science student who is ready to move back in to his parent's
      house.</p>
    </div>
    <div class="cell">
      <img class="picture" src="../static/images/kevin.JPG"/>
      <h4>Jiayao (Kevin) Lin</h4>
      <h5>Backend Developer</h5>
      <p>We call him the serious one. Just look at that picture and you can see why.
      Half man, half machine, "Killa Kevin" drops sqlite queries like they're
      sand. Without his almost magical ability to merge branches, we would still be swimming
      around in our first sprint.</p>
    </div>
    <div class="cell">
      <img class="picture" src="../static/images/nathan.jpg"/>
      <h4>Nathan Phan</h4>
      <h5>Frontend Developer</h5>
      <p>You all know him as the forefather of calendar computing, but did you
      know that Nat Dawg actually got his start coding the website Piazza?
      Renowned around the world as the mish mosh king, this devious bitswitcher
      has grabbed QuickMeet by the teeth. And by the teeth we mean the frontend!
      </p>
    </div>
    <div class="cell">
      <img class="picture" src="../static/images/fei.JPG"/>
      <h4>Fei Mo</h4>
      <h5>Backend Developer</h5>
      <p>Known around the office as "the enigma", Fei constantly solves problems
      that crop up with his superior knowledge of web2py. I heard he once watched
      a 3 hour long youtube video about web2py implementation! That's about how long
      it takes to fall to Earth from outer space!</p>
    </div>
  </div>
  
</html>
